#message-pane {
    background: url(https://mscorpmedia.azureedge.net/mscorpmedia/2016/12/microsoft-ai-5850424011a3a.gif);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;

}

body{
background-color: rgb(0,0,0);
}
